<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HungerFest</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="body">
        <div class="container">
            <button class="logout">log out</button>
        </div>
        <div id="yo">HUNGERFEST-"Eat'em all"</div>
        <div id="board"></div>
        <div id="scoreb">SCORE:- 0</div>
        <div id="hscoreb">HIGHSCORE:- 0</div>
        <div id="credit">Copyright &copy; VenCasMet</div>
    </div>
</body>
<script src="js/indexx.js"></script>

</html>

